<!DOCTYPE html>
<html>
<head>
    <title>Cryptocurrency Information</title>
    <style>
        body {
            background-image: url("{{ url_for('static', filename='background.jpg') }}");
            background-size: cover;
        }
    </style>
</head>
<body>
    <h1>Cryptocurrency Information</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        {% for name, marks in crypto_data %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ marks }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
